[Unit]
Description=Simple Ambassador 2 for Redis
Requires=docker.service
After=docker.service
After=etcdctl.service

[Service]
# need to forward all traffic it gets on port 10000 to 172.17.42.1:4001
ExecStartPre=/usr/bin/docker pull polvi/simple-amb
ExecStart=/usr/bin/docker run --name %n polvi/simple-amb 172.17.42.1:4001
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n

[X-Fleet]
X-Conflicts=redis_server.service