[Unit]
Description=Simple Ambassador for Redis
Requires=docker.service
After=docker.service
After=etcdctl.service
After=redis_server.service

[Service]
ExecStart=/usr/bin/docker run --rm --name %n polvi/simple-amb 172.17.42.1:4001
ExecStop=/usr/bin/docker stop %n && /usr/bin/docker rm %n

[X-Fleet]
X-ConditionMachineOf=redis_server.service