[Unit]
Description=Redis Server for Ambassador Demo
Requires=docker.service
After=docker.service
After=etcdctl.service

[Service]
ExecStartPre=/usr/bin/docker pull 192.168.2.90:5000/moudy/redis-server
# %n is the name of the unit
ExecStart=/bin/bash -c "HOST_IP=$(/bin/ifconfig enp0s18 | awk '/inet /{print $2}') && exec /usr/bin/docker run --name %n -p $HOST_IP::6379 192.168.2.90:5000/moudy/redis-server /usr/local/bin/redis-server --bind 0.0.0.0
ExecStop=/usr/bin/docker stop -t %n
ExecStopPost=/usr/bin/docker rm %n