[Unit]
Description= Announce Jenkins@8080.1
BindsTo=jenkins@8080.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/ci/jenkins1 '{ \"host\": \"%H\", \"port\": 80 }' -ttl 60; sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/ci/jenkins1

[X-Fleet]
X-ConditionMachineOf=jenkins@8080.1.service