[Unit]
Description=Docker Register service
After=etcd-amb-redis.service

[Service]
ExecStart=/usr/bin/docker run --link etcd-amb-redis.service:etcd -v /run/docker.sock:/run/docker.sock -v /usr/bin/etcdctl:/usr/bin/etcdctl --rm 192.168.2.90:5000/moudy/docker-register redis_server.service 6379 redis-A

[X-Fleet]
X-ConditionMachineOf=redis_server.service
